/* .video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 280px);
  width: 100%;
  height: 550px;
  background: #222;
  border-radius: 10px;
  overflow: hidden;
}
.video-container .participants-list-container {
  overflow-y: hidden;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.video-container .participants-list {
  display: flex;
  justify-content: flex-start; 
  flex-direction: column-reverse;
  gap: 10px;
  overflow-y: scroll;
  padding: 20px 0;
  z-index: 10;
}
.video-container .participants {
  width: 110px;
  height: 110px;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #222;
  overflow: hidden;
} */