.settings-section {
  display: flex; 
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px 0;
  border-bottom: 1px solid var(--inputBorder);
  transition: all 0.2s;
}
.settings-section.active {
  background: var(--inputBg);
  padding: 15px 10px;
  scroll-margin-top: 100px;
}
.settings-section.no-access {
  cursor: not-allowed;
}
.settings-section .left-side {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.settings-section .left-side > h5 {
  color: var(--darkGrayText);
  font-weight: 600;
}
.settings-section .left-side > h6 {
  color: #999;
  font-weight: 500;
  font-size: 12px;
}
.settings-section .right-side {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
}
.settings-section .right-side.flex-start {
  align-items: flex-start;
}
.settings-section .right-side .commonInput input,
.settings-section .right-side .commonInput select,
.settings-section .right-side .commonInput textarea {
  background: none;
  border-color: var(--tableBorder);
}
.settings-section .right-side .commonInput input,
.settings-section .right-side .commonInput select {
  height: 37px;
}
.settings-section .right-side button {
  font-size: 13px;
  padding: 8px;
}
.settings-section .right-side .appInput h6 {
  font-size: 12px;
  font-weight: 600;
  color: var(--darkGrayText);
}
.settings-section .right-side .appInput .icon-container {
  transform: translateY(-1px);
}
.settings-section .right-side .appInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.settings-section .right-side .tax-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.settings-section .right-side .tax-row .full {
  grid-column: 1/-1;
}
.settings-section .right-side .tax-row > small {
  font-size: 12px;
  color: var(--grayText);
  grid-column: 1/-1;
  cursor: pointer;
}
.settings-section .right-side .tax-row > small:hover {
  text-decoration: underline;
}
.settings-section .right-side .tax-row > small i {
  margin-right: 3px;
}
.settings-section .right-side .tax-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.settings-section .right-side .tax-list .tax-item-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.settings-section .right-side .tax-list .tax-item-container h5 {
  font-size: 13px;
  color: #333;
  font-weight: 600;
}
.settings-section .right-side .tax-list .tax-item {
  background: var(--extraLightPrimary);
  padding: 8px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 5px;
}
.settings-section .right-side .tax-list .tax-item span {
  font-size: 13px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.settings-section .right-side .tax-list .tax-item i {
  font-size: 13px;
  color: var(--primary);
  cursor: pointer;
}

.settings-section .appSwitch {
  transform: scale(0.9);
}
.settings-section .right-side .commonInput textarea {
  width: 100%;
  height: 100px;
}