.app-badge {
  background: var(--primary);
  padding: 5px 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.app-badge.light {
  background: var(--extraLightPrimary);
}
.app-badge.light h6,
.app-badge.light i {
  color: var(--primary);
}
.app-badge h6 {
  color: #fff;
  font-weight: 600;
}
.app-badge i {
  color: #fff;
}
.app-badge.clickable {
  cursor: pointer;
}