.rightbar {
  background: #fff;
  width: 100%;
  height: 100vh;
  z-index: 9200;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: var(--morphShadow);
}

.rightbar > .icon-container {
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;
  z-index: 100;
}

.rightbar .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.rightbar .header .row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.rightbar .header h4 {
  text-align: center;
  color: var(--darkGrayText);
  margin-top: 15px;
  margin-bottom: 2px;
  font-size: 18px;
}
.rightbar .header h6 {
  font-weight: 600;
  color: var(--grayText);
  font-size: 12px;
}

.rightbar .content {
  margin-top: 30px;
}
.rightbar .content .tab-content {
  margin-top: 15px;
  display: none;
}
.rightbar .content .tab-content.show {
  display: block;
}
.rightbar .content .tab-content .tasks-title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rightbar .content .tab-content .tasks-title-row h4 {
  text-align: center;
  color: var(--darkGrayText);
  font-size: 14px;
}
.rightbar .content .tab-content .tasks-title-row a {
  font-size: 12px;
  color: var(--grayText);
  font-weight: 600;
  text-decoration: none;
}
.rightbar .content .tab-content .tasks-title-row a:hover {
  text-decoration: underline;
}
.rightbar .content .tab-content .tools {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.rightbar .content .tab-content .tools .appSwitch {
  display: flex;
  align-items: center;
  gap: 5px;
}
.rightbar .content .tab-content .tools .appSwitch h6 {
  font-size: 11px;
  font-weight: 600;
  color: var(--grayText);
}
.rightbar .add-task-input {
  margin-top: 15px;
}
.rightbar .add-task-input input {
  border: none;
  border-bottom: 1px solid var(--inputBorder);
  border-radius: 0;
  padding-left: 35px;
  caret-color: var(--grayText);
}
.rightbar .add-task-input i {
  position: absolute;
  top: 4px;
  left: 5px;
  color: var(--grayText);
  opacity: 0.5;
}

.rightbar .events-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 10px;
  height: 265px;
  overflow-y: auto;
}
.rightbar .tasks-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 10px;
}



@media (max-width: 400px) {
  .rightbar .profile-dropdown {
    width: 100%;
    min-width: 90vw;
    right: 0;
    left: auto;
  }
}