.rightbar {
  background: #fff;
  width: 100%;
  height: 100vh;
  z-index: 9200;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: var(--morphShadow);
}

.rightbar .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.rightbar .header .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.rightbar .header h4 {
  text-align: center;
  color: var(--darkGrayText);
  margin-top: 15px;
  margin-bottom: 2px;
  font-size: 18px;
}
.rightbar .header h6 {
  font-weight: 600;
  color: var(--grayText);
  font-size: 12px;
}

.rightbar .profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  padding: 2px 5px;
  border-radius: 40px;
  user-select: none;
}
.rightbar .profile-container:hover {
  background: rgba(255,255,255,0.15);
}
.rightbar .profile-dropdown {
  min-width: 220px;
  background: #fff;
  border-radius: 5px;
  box-shadow: var(--shadow);
  z-index: 100;
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  padding: 5px;
  transition: all 0.2s;
}
.rightbar .profile-dropdown.show {
  visibility: visible;
  opacity: 1;
  top: 40px;
}
.rightbar .profile-dropdown a,
.rightbar .profile-dropdown h6 {
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--grayText);
  font-weight: 600;
  transition: all 0.2s;
}
.rightbar .profile-dropdown a i,
.rightbar .profile-dropdown h6 i {
  color: var(--grayText);
}
.rightbar .profile-dropdown a:hover,
.rightbar .profile-dropdown h6:hover {
  background: var(--primary);
  color: #fff;
}
.rightbar .profile-dropdown a:hover i,
.rightbar .profile-dropdown h6:hover i {
  color: #fff;
}
.rightbar .profile-dropdown hr {
  width: 90%;
  height: 1px;
  align-self: center;
  margin: 3px 0;
  background: #eee;
}
.rightbar .profile-dropdown .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  cursor: default;
}
.rightbar .profile-dropdown .info span.value {
  font-size: 12px;
  font-weight: 700;
}
.rightbar .profile-dropdown .info span {
  font-size: 12px;
  font-weight: 500;
  color: var(--grayText);
}

.rightbar .content {
  margin-top: 30px;
}
.rightbar .content .tab-content {
  margin-top: 15px;
  display: none;
}
.rightbar .content .tab-content.show {
  display: block;
}
.rightbar .content .tab-content .tasks-title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rightbar .content .tab-content .tasks-title-row h4 {
  text-align: center;
  color: var(--darkGrayText);
  font-size: 14px;
}
.rightbar .content .tab-content .tasks-title-row a {
  font-size: 12px;
  color: var(--grayText);
  font-weight: 600;
  text-decoration: none;
}
.rightbar .content .tab-content .tasks-title-row a:hover {
  text-decoration: underline;
}
.rightbar .content .tab-content .tools {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.rightbar .content .tab-content .tools .appSwitch {
  display: flex;
  align-items: center;
  gap: 5px;
}
.rightbar .content .tab-content .tools .appSwitch h6 {
  font-size: 11px;
  font-weight: 600;
  color: var(--grayText);
}
.rightbar .add-task-input {
  margin-top: 15px;
}
.rightbar .add-task-input input {
  border: none;
  border-bottom: 1px solid var(--inputBorderColor);
  border-radius: 0;
  padding-left: 35px;
  caret-color: var(--grayText);
}
.rightbar .add-task-input i {
  position: absolute;
  top: 4px;
  left: 5px;
  color: var(--grayText);
  opacity: 0.5;
}

.rightbar .events-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 10px;
  height: 265px;
  overflow-y: auto;
}
.rightbar .tasks-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 10px;
}



@media (max-width: 400px) {
  .rightbar .profile-dropdown {
    width: 100%;
    min-width: 90vw;
    right: 0;
    left: auto;
  }
}