.waiting-room-page {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
}

.waiting-room-page .meeting-video {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.waiting-room-page .meeting-video .toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.waiting-room-page .meeting-video .video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.waiting-room-page .meeting-video video {
  width: 700px;
  height: 380px;
  background: #111;
  border-radius: 7px;
  box-shadow: var(--shadow);
  object-fit: cover;
  transform: rotateY(180deg)
}
.waiting-room-page .meeting-video .video-container .icons-bar {
  display: flex;
  align-items: center;
  gap: 15px;
}
.waiting-room-page .meeting-video .video-container .icon-container:hover {
  background: var(--lightGrayText)!important;
}

.waiting-room-page .meeting-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 400px;
}
.waiting-room-page .meeting-details h4 {
  font-size: 30px;
  color: var(--darkGrayText);
  margin-bottom: 10px;
}
.waiting-room-page .meeting-details h5 {
  font-size: 16px;
}
.waiting-room-page .meeting-details .participants {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
  max-width: 350px;
  margin: 10px 0;
  margin-bottom: 20px;
}
.waiting-room-page .meeting-details .participants > h5 {
  font-weight: 600;
  color: var(--darkGrayText);
}
.waiting-room-page .meeting-details .participants span {
  font-size: 14px;
  color: var(--darkGrayText);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}
.waiting-room-page .meeting-details .no-participants {
  font-size: 14px;
  color: var(--grayText);
  font-weight: 600;
  margin: 10px 0;
}
.waiting-room-page .meeting-details .schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.waiting-room-page .meeting-details .schedule > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.waiting-room-page .meeting-details .schedule span {
  font-size: 15px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.waiting-room-page .meeting-details .room-id {
  font-size: 13px;
  font-weight: 600;
  color: #333;
  padding: 15px 20px;
  border-radius: 5px;
  background: var(--inputBg);
  border: 1px solid var(--inputBorder);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.waiting-room-page .meeting-details .room-id:hover {
  background: var(--darkInputBg);
}
.waiting-room-page .meeting-details .room-id:active {
  background: var(--lightGrayText);
}
.waiting-room-page .meeting-details .room-id i {
  color: var(--grayText);
  font-size: 16px;
}
.waiting-room-page .meeting-details button {
  padding: 12px 30px;
  font-size: 15px;
  margin-top: 15px;
}

.room-settings-modal .room-settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.room-settings-modal .room-settings .settings-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.room-settings-modal .room-settings .settings-row h5 {
  color: var(--darkGrayText);
  font-size: 15px;
  font-weight: 600;
}


.meeting-started-page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 370px;
  align-items: flex-start;
}
.meeting-started-page.fullscreen {
  grid-template-columns: 100%;
}
.meeting-started-page.fullscreen .meeting-video {
  width: 100%;
}
.meeting-started-page.fullscreen .meeting-sidebar {
  display: none;
}
.meeting-started-page.fullscreen .video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}
.meeting-started-page.fullscreen .video-container video {
  border-radius: 0;
}
.meeting-started-page.fullscreen .video-actions {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 20px;
  width: 600px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin: 0 auto;
  background: #252525;
}
.meeting-started-page.fullscreen .video-actions .action-icon,
.meeting-started-page.fullscreen .video-actions .icon-container {
  border-color: rgba(255, 255, 255, 0.2);
}
.meeting-started-page.fullscreen .video-actions .action-icon i,
.meeting-started-page.fullscreen .video-actions .icon-container i {
  color: #fff!important;
}
.meeting-started-page.fullscreen .video-actions .dropdown-icon:hover {
  background: rgba(255, 255, 255, 0.2);
}
.meeting-started-page.fullscreen .video-actions .action-icon:not(.active):hover {
  background: rgba(255, 255, 255, 0.2);
}
.meeting-started-page.fullscreen .video-actions .sound-container {
  border-color: rgba(255, 255, 255, 0.2);
}
.meeting-started-page.fullscreen .video-actions .sound-container i {
  color: #fff;
}