.waiting-room-page {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
}

.waiting-room-page .meeting-video {
  width: 700px;
  display: flex;
  flex-direction: column;
}
.waiting-room-page .meeting-video .video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.waiting-room-page .meeting-video video {
  width: 700px;
  height: 380px;
  background: #111;
  border-radius: 7px;
  box-shadow: var(--shadow);
  object-fit: cover;
  transform: rotateY(180deg)
}
.waiting-room-page .meeting-video .video-container .icons-bar {
  display: flex;
  align-items: center;
  gap: 15px;
}
.waiting-room-page .meeting-video .video-container .icon-container:hover {
  background: var(--lightGrayText)!important;
}

.waiting-room-page .meeting-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 400px;
}
.waiting-room-page .meeting-details h4 {
  font-size: 30px;
  color: var(--darkGrayText);
  margin-bottom: 10px;
}
.waiting-room-page .meeting-details h5 {
  font-size: 16px;
}
.waiting-room-page .meeting-details .participants {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
  max-width: 350px;
  margin: 10px 0;
  margin-bottom: 20px;
}
.waiting-room-page .meeting-details .participants > h5 {
  font-weight: 600;
  color: var(--darkGrayText);
}
.waiting-room-page .meeting-details .participants span {
  font-size: 14px;
  color: var(--darkGrayText);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}
.waiting-room-page .meeting-details .no-participants {
  font-size: 14px;
  color: var(--grayText);
  font-weight: 600;
}
.waiting-room-page .meeting-details .schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.waiting-room-page .meeting-details .schedule > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.waiting-room-page .meeting-details .schedule span {
  font-size: 15px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.waiting-room-page .meeting-details .room-id {
  font-size: 13px;
  font-weight: 600;
  color: #333;
  padding: 15px 20px;
  border-radius: 5px;
  background: var(--inputBg);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.waiting-room-page .meeting-details .room-id:active {
  background: var(--lightGrayText);
}
.waiting-room-page .meeting-details .room-id i {
  color: var(--grayText);
  font-size: 16px;
}
.waiting-room-page .meeting-details button {
  padding: 12px 30px;
  font-size: 15px;
}