.chat-sidebar {
  width: 100%;
  height: 100%;
  border-right: 1px solid #eee;
}

.chat-sidebar > header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #eee;
  padding: 10px;
}
.chat-sidebar > header h3 {
  font-size: 20px;
  font-weight: 600;
}
.chat-sidebar > header .action-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.chat-sidebar > header .action-icon:hover {
  background: #f1f1f1;
}
.chat-sidebar > header .action-icon i {
  color: var(--darkGrayText);
  font-size: 20px;
}

.chat-sidebar .search-bar {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}
.chat-sidebar .search-bar .appInput i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #ccc;
}
.chat-sidebar .search-bar input {
  border: none;
  padding: 10px;
}
.chat-sidebar .search-bar input::placeholder {
  color: var(--grayText);
}

.chats-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}
.chats-list .chat-type-flex {
  display: flex;
  flex-direction: column;
}
.chats-list .chat-type-flex h5 {
  padding: 10px;
  font-size: 13px;
  font-weight: 700;
  border-bottom: 1px solid #eee;
}
.chats-list .chat-type-flex h5 i {
  margin-right: 8px;
}
.chats-list .chat-type-flex .chat-type-list {
  display: flex;
  flex-direction: column;
}