.chat-console {
  height: 100px;
  width: 100%;
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: column;
}
.chat-console .top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}