.message-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  padding: 7px 15px;
  transition: all 0.2s;
}
.message-container.combined {
  padding: 5px 15px;
}
.message-container.combined .message-content {
  align-items: center;
}
.message-container.parent .message-content {
  align-items: flex-start;
}
.message-container:hover {
  background: #f1f1f1;
}
.message-container .message-content {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
.message-container .message-content .left-side {
  width: 32px;
  min-width: 32px;
  overflow: hidden;
}
.message-container .message-content .left-side small {
  opacity: 0;
  visibility: hidden;
  font-size: 11px;
  font-weight: 600;
  color: #333;
}
.message-container:hover .message-content .left-side small {
  opacity: 1;
  visibility: visible;
}
.message-container .message-content .avatar-container {
  border-radius: 5px;
  top: 2px;
}
.message-container .message-content .avatar-container img {
  border-radius: 5px;
}
.message-container .message-content .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.message-container .message-content .text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.message-container .message-content .title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.message-container .message-content .title h6 {
  font-size: 14px;
  font-weight: 700;
}
.message-container .message-content .title h6 a:hover {
  text-decoration: underline;
}
.message-container .message-content .title small {
  color: #555;
  font-weight: 500;
  font-size: 12px;
}
.message-container .message-content .text p {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  white-space: pre-wrap;
  display: inline-block;
}
.message-container .message-content .text small.edited {
  color: #aaa;
  font-size: 13px;
  font-weight: 500;
}
.message-container .message-content .text p a {
  color: #000;
  text-decoration: underline;
}

.message-container .reply-bar {
  padding: 3px 7px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid var(--lightGrayText);
  margin-top: 4px;
  cursor: pointer;
}
.message-container .reply-bar small span {
  color: var(--darkGrayText);
  font-weight: 600;
}
.message-container .reply-bar small b {
  margin-left: 5px;
  font-weight: 700;
}
.message-container .reply-bar small i {
  margin-right: 5px;
}

/* Options floater css */
.message-container .options-floater {
  position: absolute;
  top: -20px;
  right: 10px;
  z-index: 101;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: none;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 3px;
}
.message-container.open-replies .options-floater {
  right: 370px;
}
.message-container:hover .options-floater,
.message-container .options-floater.open {
  display: flex;
}
.message-container.open-options {
  background: #f1f1f1;
}
.message-container.open-options .options-floater {
  display: flex;
}
.message-container .options-floater .icons-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.message-container .options-floater .options-flex.open {
  display: flex;
}
.message-container .options-floater .options-flex {
  flex-direction: column;
  padding: 5px 0;
  border-radius: 5px;
  display: none;
  overflow: hidden;
}
.message-container .options-floater .options-flex.open h6 {
  padding: 10px 40px 10px 10px;
}
.message-container .options-floater .options-flex h6 {
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.message-container .options-floater .options-flex h6:hover {
  background: #f1f1f1;
}
.message-container .options-floater .action-icon {
  width: 27px;
  height: 27px;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-container .options-floater .action-icon.active,
.message-container:hover .options-floater .action-icon:hover {
  background: #f1f1f1;
}
.message-container .options-floater .action-icon i {
  font-size: 15px;
  color: var(--darkGrayText);
}

.message-container .reactions-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* reply message container styles*/
.message-container.reply-container .options-floater .emoji-picker-float {
  display: none;
}
.message-container.reply-container .reactions-bar {
  margin-top: 2px;
}

.date-seperator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
}
.date-seperator .seperator-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.date-seperator .seperator-row hr {
  width: 100%;
  height: 1px;
  background: #eee;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.date-seperator small {
  font-size: 13px;
  color: #000;
  font-weight: 600;
  background: #fff;
  border: 1px solid var(--lightGrayText);
  border-radius: 5px;
  padding: 3px 5px;
  z-index: 10;
  cursor: default;
}

/* Editing message styles */
.message-container.editing,
.message-container.editing:hover {
  background: var(--extraLightPrimary);
  z-index: 100;
}
.message-container.editing .chat-console,
.message-container.editing .chat-console .textarea-container,
.message-container.editing .chat-console .textarea-container textarea,
.message-container.editing .text-container,
.message-container.editing .text {
  width: 100%;
}

.message-container.editing .chat-console .custom-edit-btns {
  display: flex;
  align-items: center;
  gap: 5px;
}
.message-container.editing .chat-console .custom-edit-btns .appButton {

}