.board-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: calc(300px - 20px);
  height: 100px;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: var(--newCardShadow);
  border: 1px solid var(--tableBorder);
  margin-bottom: 3px;
}
.board-card:hover {
  background: #fafafa;
}
.board-card .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.board-card .header h5 {
  font-weight: 600;
  font-size: 13px;
  color: var(--darkGrayText);
}
.board-card .header .icon-container:hover {
  background:var(--inputBg);
}
.board-card .header .dropdown-icon .dropdown-item:hover {
  background:var(--inputBg);
}
.board-card .header .dropdown-icon .dropdown-item:hover span,
.board-card .header .dropdown-icon .dropdown-item:hover i {
  color: var(--darkGrayText);
}

.board-card .content {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.board-card .content .app-badge {
  padding: 2px 5px;
}
.board-card .content small {
  color: var(--grayText);
  font-weight: 500;
  font-size: 11px;
}

.board-card .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  justify-self: flex-end;
}
.board-card .footer .stats {
  display: flex;
  align-items: center;
  gap: 5px;
}
.board-card .footer .stats span {
  font-size: 12px;
  color: var(--grayText);
  font-weight: 600;
}
