.new-project-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.new-project-container .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
}

.new-project-container .form-container {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.new-project-container .form-container > h3 {
  color: var(--darkGrayText);
  font-size: 22px;
  margin-bottom: 5px;
}
.new-project-container .form-container > h6 {
  color: var(--grayText);
  font-size: 12px;
  font-weight: 600;
}
.new-project-container .form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0; 
}
.new-project-container .form-container .form .commonInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.new-project-container .form-container .form .commonInput h6 {
  color: var(--darkGrayText);
  font-size: 12px;
  font-weight: 600;
}
.new-project-container .form-container .form .selected-user {
  background: var(--inputBg);
  padding: 8px 10px;
}


.new-project-container .art {
  width: calc(49% - 70px);
}
.new-project-container .art .blob {
  width: 100%;
  height: 600px;
}
.new-project-container .art .new-project-img {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  width: 75%;
  filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.2));
}