.new-task-modal .app-modal {
  width: 800px;
}
.new-task-modal .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 300px;
}
.new-task-modal .app-modal-container .app-modal > header {
  border: none;
  padding-top: 20px;
}
.new-task-modal .app-modal-container .app-modal > header h4 {
  color: var(--darkGrayText);
}
.new-task-modal footer {
  border-top: 1px solid #eee;
}
 
.new-task-modal .content .section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  border-bottom: 1px solid var(--inputBorder);
  padding-bottom: 15px;
}
.new-task-modal .content .section:last-child {
  border-bottom: none;
}
.new-task-modal .commonInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.new-task-modal .content .full-width {
  grid-column: 1/-1;
}
.new-task-modal .content .title-input {
  margin-bottom: 5px;
}
.new-task-modal .content .title-input input {
  font-size: 16px;
  padding: 10px;
}
.new-task-modal .commonInput h6 {
  font-size: 12px;
  font-weight: 600;
  color: var(--grayText);
}
.new-task-modal .commonInput .selected-user h6 {
  font-size: 13px;
}
.new-task-modal .commonInput .sub-text {
  color: var(--grayText);
  font-size: 11px;
  font-weight: 600;
  padding-left: 3px;
  line-height: 1.3;
}

.new-task-modal .app-file-uploader label {
  height: 60px;
  border: 1px dashed var(--tableBorder);
  justify-content: center;
}
.new-task-modal .app-file-uploader label:hover {
  background: var(--inputBg);
}
.new-task-modal .app-file-uploader label h5 {
  font-size: 13px;
  font-weight: 500;
  color: var(--grayText);
}

.new-task-modal .commonInput .task-input-placeholder {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--grayText);
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}
.new-task-modal .users-search-input .input-wrapper .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  background: var(--darkInputBg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-task-modal .users-search-input .input-wrapper input {
  padding-left: 45px;
}

.new-task-modal .content .selected-user {
  border: 1px solid var(--inputBorder);
}

.new-task-modal .content .assignees-flex > small {
  font-size: 12px;
  color: var(--grayText);
  cursor: pointer;
}
.new-task-modal .content .assignees-flex > small:hover {
  text-decoration: underline;
}

.new-task-modal .content .users-search-input .input-wrapper input {
  padding: 10px;
  padding-left: 45px;
}