.project-backlog {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: calc(70% - 10px) calc(30% - 10px);
  gap: 20px;
  padding-top: 5px;
}
.project-backlog.full {
  grid-template-columns: 100%;
}
.project-backlog .backlog-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  gap: 50px;
  padding: 0 10px 0 0;
}

.project-backlog .backlog-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-backlog .backlog-section .title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.project-backlog .backlog-section .title-bar .titles {
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-backlog .backlog-section .title-bar .titles h5 {
  font-size: 14px;
  color: var(--darkGrayText);
  font-weight: 700;
}
.project-backlog .backlog-section .title-bar .titles span {
  font-size: 14px;
  color: #999;
  font-weight: 300;
}
.project-backlog .backlog-section .title-bar .icon-container:hover {
  background: var(--darkInputBg)!important;
}
.project-backlog .backlog-section .title-bar .dropdown-icon .dropdown-item:hover {
  background: var(--inputBg);
}
.project-backlog .backlog-section .title-bar .dropdown-icon .dropdown-item:hover span,
.project-backlog .backlog-section .title-bar .dropdown-icon .dropdown-item:hover i {
  color: var(--darkGrayText);
}
.project-backlog .backlog-section .title-bar .actions {
  display: flex;
  align-items: center;
  gap: 20px;
} 

.project-backlog .list-section {
  display: flex;
  flex-direction: column;
  border: 1px dashed transparent;
  transition: all 0.2s;
}
.project-backlog .list-section.dragging {
  border: 1px dashed var(--grayText);
}

.project-backlog .backlog-section .sprint-list.no-tasks {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--lightGrayText);
  border-radius: 5px;
}
.project-backlog .backlog-section .sprint-list.no-tasks h5 {
  font-size: 14px;
  color: var(--darkGrayText);
  font-weight: 600;
  text-align: center;
}
.project-backlog .backlog-section .sprint-list.no-tasks h5 span {
  color: var(--grayText);
  font-weight: 500;
}

.project-backlog .task-adder {
  display: flex;
  align-items: stretch;
  gap: 3px;
  width: 100%;
}
.project-backlog .task-adder .appCoverInput {
  width: 100%;
}
.project-backlog .task-adder .coverInput {
  transition: all 0.2s;
  cursor: pointer;
  padding: 10px;
}
.project-backlog .task-adder .coverInput:hover {
  background: var(--inputBg);
}
.project-backlog .task-adder .coverInput h5 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  font-weight: 500;
  color: var(--grayText);
  opacity: 0.6;
}
.project-backlog .backlog-section .task-adder {
  margin-bottom: 50px;
}
.project-backlog .task-adder .appCoverInput .loading-cover {
  justify-content: flex-start;
  padding-left: 8px;
  border: 1px solid #eee;
}

.project-backlog .task-adder .reactSelect {
  width: 40px;
  height: 30px;
  padding: 0;
}
