.project-pages {
  display: flex;
  flex-direction: column;
}
.project-pages .titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}
.project-pages .titles .left {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.project-pages .titles .actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-pages .titles h5 {
  color: var(--darkGrayText);
  font-size: 14px;
}
.project-pages .titles small {
  color: var(--grayText);
  font-size: 13px;
}

.project-pages .content-container {
  height: calc(100vh - 320px);
}
.project-pages .content-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 30px;
  height: 100%;
  overflow-y: auto;
}
.project-pages .content-flex .load-more-btn {
  flex-basis: 100%;
  margin-top: 20px;
}