.project-page {
  display: flex;
  flex-direction: column;
}

.project-page .page-content {
  display: grid;
  grid-template-columns: auto 330px;
  height: calc(100vh - 85px);
}
.project-page .page-content.hide-sidebar {
  grid-template-columns: auto 40px;
}
.project-page .page-content.hide-sidebar .page-sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  padding-top: 10px;
  border: none;
}
.read-project-page .page-content.hide-sidebar .page-sidebar {
  padding-top: 0;
}
.project-page .page-content.hide-sidebar .page-sidebar .folded-sidebar {
  border-bottom: 2px solid var(--inputBorder);
  height: 46px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.read-project-page .page-content.hide-sidebar .page-sidebar .folded-sidebar {
  border: none;
}
.project-page .page-content.hide-sidebar .toggle-sidebar-icon {
  transform: rotate(90deg);
}
.project-page .page-content.hide-sidebar .toggle-sidebar-icon:hover {
  background: var(--darkInputBg);
}
.project-page .page-content.hide-sidebar .page-sidebar .sidebar-section {
  display: none;
}
.read-project-page .read-content {
  padding-top: 20px;
}

.project-page .page-content .editor-container .title-header {
  padding: 0 10px;
  width: 100%;
}
.project-page .page-content .editor-container .appInput {
  top: 75px;
  z-index: 10;
}
.project-page .page-content .editor-container .appInput input {
  border: none;
  font-size: 25px;
  font-weight: 600;
  padding-left: 17px;
}
.project-page .page-content .editor-container .appInput input::placeholder {
  color: #9296b3;
}

/* Tinymce css */
.project-page iframe {
  border-radius: 0;
}
.project-page .tox-tinymce {
  border: none;
  overflow: visible;
  margin-top: -38px;
}
.project-page .tox:not(.tox-tinymce-inline) .tox-editor-header {
  box-shadow: none;
  border-bottom: 2px solid var(--inputBorder);
  padding: 0;
  padding-bottom: 5px;
}
.project-page .tox .tox-sidebar-wrap {
  margin-top: 70px;
  padding-left: 10px;
}
.tox .tox-dialog .tox-dialog__footer button {
  background: var(--primary);
  border-color: var(--primary);
}
.tox .tox-dialog .tox-dialog__footer button:active {
  filter: brightness(0.9);
}
.tox .tox-dialog .tox-dialog__footer button:hover {
  background: var(--primary);
  border-color: var(--primary);
  filter: brightness(1.1);
}

.project-page .page-content .page-sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  margin-top: 0px;
  border-left: 2px solid var(--inputBorder);
  height: 100%;
}
.project-page .page-content .page-sidebar .sidebar-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--inputBorder);
}
.project-page .page-content .page-sidebar .sidebar-toolbar .side {
  display: flex;
  align-items: center;
  gap: 5px;
}
.project-page .page-content .page-sidebar .sidebar-toolbar .icon-container:hover {
  background: var(--darkInputBg);
}

.project-page .page-sidebar .page-info {
  border-bottom: 2px solid var(--inputBorder);
}
.project-page .page-sidebar .sidebar-section {
  padding: 15px;
}
.project-page .page-sidebar .sidebar-section .titles {
  padding-bottom: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.project-page .page-sidebar .sidebar-section .app-badge-select .app-badge i {
  display: none;
}
.project-page .page-sidebar .sidebar-section .app-badge-select:hover .app-badge i {
  display: block;
}
.project-page .page-sidebar .page-info-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-page .page-sidebar .page-info-content .page-info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.project-page .page-sidebar .page-info-content .page-info-item h6 {
  font-size: 13px;
  font-weight: 600;
  color: var(--darkGrayText);
}
.project-page .page-sidebar .page-info-content .page-info-item span {
  font-size: 13px;
  font-weight: 600;
  color: var(--grayText);
}
.project-page .page-sidebar .page-info-content .page-info-item.title span {
  font-weight: 700;
  text-transform: uppercase;
}
.project-page .page-sidebar .page-info-content .page-info-item .creator {
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-page .page-sidebar .page-info-content .page-info-item .multiple-users-avatars {
  margin-right: 5px;
}

.project-page .page-sidebar .page-templates {
  height: 100%;
  overflow-y: auto;
}
.read-project-page .page-sidebar .page-templates {
  display: none;
}
.project-page .page-sidebar .page-templates-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-page .page-sidebar .page-templates-content .appInput i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: var(--grayText);
  opacity: 0.5;
}
.project-page .page-sidebar .page-templates-content .appInput input {
  padding-right: 35px;
}
.project-page .page-sidebar .page-templates-content .template-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
}
.project-page .page-sidebar .page-templates-content .template-item:hover {
  background: var(--inputBg);
}
.project-page .page-sidebar .page-templates-content .template-item:active {
  background: var(--darkInputBg);
}
.project-page .page-sidebar .page-templates-content .template-item .text-side {
  display: flex;
  flex-direction: column;
}
.project-page .page-sidebar .page-templates-content .template-item h5 {
  font-size: 14px;
  font-weight: 600;
  color: var(--darkGrayText); 
}
.project-page .page-sidebar .page-templates-content .template-item p {
  font-size: 12px;
  font-weight: 500;
  color: var(--grayText);
}
.project-page .page-export-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-page .page-export-content .appButton {
  font-size: 13px;
}
.project-page .page-export-content .page-info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.project-page .page-export-content .page-info-item h6 {
  font-size: 13px;
  font-weight: 600;
  color: var(--darkGrayText);
}

/* Read-only project page css */
.read-project-page .page-content .editor-container {
  margin-top: 10px;
}
.read-project-page .page-content .editor-container .title-header {
  padding: 0;
  padding-left: 30px;
  z-index: 100;
  margin-bottom: 15px;
}
.read-project-page .page-content .editor-container .title-header h3 {
  font-size: 25px;
  color: var(--darkGrayText);
}
.read-project-page .tox .tox-sidebar-wrap {
  margin-top: 30px;
  padding-right: 0;
}