.projects-home {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.projects-home > h3 {
  color: var(--darkGrayText);
  margin-bottom: 20px;
}

.projects-home .recents-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  padding-bottom: 25px;
}
.projects-home .recents-flex .titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.projects-home .recents-flex .titles h5 {
  color: var(--darkGrayText);
  font-size: 15px;
  font-weight: 600;
}
.projects-home .recents-flex .titles a {
  color: var(--primary);
  font-size: 13px;
  font-weight: 500;
}
.projects-home .recents-flex .titles a:hover {
  text-decoration: underline;
}
.projects-home .recents-flex .projects-list {
  width: 100%;
}

.projects-home .recents-flex .app-tabs-bar {
  background: #fff;
  top: -20px;
}
.projects-home .recents-flex .tasks-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects-home .recents-flex .tasks-list .title-row {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.projects-home .recents-flex .tasks-list .title-row.bottom {
  margin: 15px 0;
}
.projects-home .recents-flex .tasks-list .title-row .filters {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.projects-home .recents-flex .tasks-list .title-row .placeholder {
  font-size: 13px;
  color: var(--grayText);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 100px;
}
.projects-home .recents-flex .tasks-list .title-row > h6 {
  color: var(--grayText);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.projects-home .recents-flex .tasks-list .title-row .commonInput {
  display: flex;
  align-items: center;
  gap: 10px;
}
.projects-home .recents-flex .tasks-list .title-row .commonInput h6 {
  color: var(--grayText);
  font-size: 12px;
  font-weight: 600;
}
.projects-home .recents-flex .tasks-list .title-row button {
  padding: 8px 10px;
} 

.projects-home .recents-flex .tab-section {
  display: none;
  flex-direction: column;
}
.projects-home .recents-flex .tab-section.active {
  display: flex;
}
.projects-home .recents-flex .tab-section .sub-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.projects-home .home-task-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.projects-home .home-task-row:hover {
  background: var(--lightInputBg);
}
.projects-home .home-task-row .texts {
  display: flex;
  align-items: center;
  flex-basis: calc(75% - 10px);
  gap: 10px;
}
.projects-home .home-task-row .texts .item {
  flex-basis: 20%;
}
.projects-home .home-task-row .task-title.item {
  display: flex;
  gap: 10px;
  flex-basis: 33%;
}
.projects-home .home-task-row .task-title .icon-container {
  top: 4px;
}
.projects-home .home-task-row .task-title .right {
  display: flex;
  flex-direction: column;
}
.projects-home .home-task-row .task-title h6 {
  color: var(--darkGrayText);
  font-size: 14px;
  font-weight: 600;
}
.projects-home .home-task-row .task-title small {
  color: var(--grayText);
  font-size: 11px;
  font-weight: 500;
}
.projects-home .home-task-row .texts > small {
  color: var(--grayText);
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.projects-home .home-task-row .assignees {
  flex-basis: calc(25% - 10px);
  display: flex;
  justify-content: flex-end;
}
.projects-home .home-task-row .assignees > small {
  color: var(--grayText);
  font-size: 11px;
  font-weight: 600;
}