.projects-home {
  display: flex;
  flex-direction: column;
}
.projects-home > h3 {
  color: var(--darkGrayText);
  margin-bottom: 20px;
}

.projects-home .recents-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--inputBorder);
}
.projects-home .recents-flex .titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.projects-home .recents-flex .titles h5 {
  color: var(--darkGrayText);
  font-size: 15px;
  font-weight: 600;
}
.projects-home .recents-flex .titles a {
  color: var(--primary);
  font-size: 13px;
  font-weight: 500;
}
.projects-home .recents-flex .titles a:hover {
  text-decoration: underline;
}
.projects-home .recents-flex .projects-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.projects-home .recents-flex .tasks-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects-home .recents-flex .tasks-list > h6 {
  color: var(--grayText);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}