.single-project {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.single-project .project-header {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--inputBorder);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.single-project .project-header .titles {
  display: flex;
  align-items: center;
  gap: 10px;
}
.single-project .project-header .titles h3 {
  color: var(--darkGrayText);
  font-size: 17px;
}
.single-project .project-header .details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.single-project .project-header .details .info {
  display: flex;
  align-items: center;
  gap: 30px;
}
.single-project .project-header .details small {
  color: var(--grayText);
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.single-project .project-header .details small span {
  color: var(--darkGrayText);
  font-weight: 700;
}
.single-project .project-header .details .appInput {
  width: 340px;
}
.single-project .project-header .details .appInput input {
  height: 34px;
  background: var(--lightInputBg);
  padding-right: 20px;
}

.single-project .project-toolbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  padding-top: 15px;
}
.single-project .project-toolbar .top-side {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.single-project .project-toolbar .top-side .filter-by-user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.single-project .project-toolbar .top-side .filter-by-user .avatar-container {
  cursor: pointer;
  border: 2px solid #fff;
}
.single-project .project-toolbar .top-side .filter-by-user .avatar-container:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
.single-project .project-toolbar .top-side .filter-by-user .avatar-container.active {
  border: 2px solid var(--primary)!important;
}
.single-project .project-toolbar .top-side .filter-by-user h6 {
  font-size: 13px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.single-project .project-toolbar .bottom-side .app-tabs-bar a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.single-project .project-toolbar .left-side {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.single-project .project-toolbar .left-side h5 {
  color: var(--darkGrayText);
  font-size: 14px;
}
.single-project .project-toolbar .left-side p {
  color: var(--grayText);
  font-size: 12px;
  font-weight: 500;
}
.single-project .project-toolbar .btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.single-project .project-toolbar .btn-group .dropdown-btn {
  padding: 5px 12px;
  border-color: var(--lightGrayText);
}
.single-project .project-toolbar .btn-group .dropdown-btn:hover {
  background: var(--inputBg);
  color: var(--darkGrayText);
}
.single-project .project-toolbar .btn-group .dropdown-button {
  z-index: 1000;
}
.single-project .project-toolbar .btn-group .dropdown-button .dropdown-item {
  font-size: 12px;
}
.single-project .project-toolbar .btn-group .dropdown-button .dropdown-item:hover {
  background: var(--inputBg);
}
.single-project .project-toolbar .btn-group .dropdown-button .dropdown-item:hover span,
.single-project .project-toolbar .btn-group .dropdown-button .dropdown-item:hover i {
  color: var(--darkGrayText);
}

.single-project .project-header .dropdown-search-container .search-result-list {
  display: flex;
  flex-direction: column;
}

.single-project .project-toolbar .app-tabs-bar a {
  font-size: 13px;
  color: var(--darkGrayText);
  font-weight: 600;
}

.single-project .tasks-routes-container {
  width: 100%;
  height: calc(100vh - 315px);
  overflow: hidden;
}
.single-project.tasks-page .tasks-routes-container {
  height: calc(100vh - 270px);
}

.add-column-modal .appInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.add-column-modal .appInput h6 {
  font-weight: 600;
  font-size: 12px;
  color: var(--darkGrayText);
}

.invite-members-modal .invite-members-container {
 padding: 20px 0;
}
.invite-members-modal .invite-members-container .appInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.invite-members-modal .invite-members-container .appInput > h6 {
  font-size: 13px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.invite-members-modal .invite-members-container .appInput input {
  padding-top: 10px;
  padding-bottom: 10px;
}
.invite-members-modal .invite-members-container .users-results-list {
  position: relative;
  top: auto;
  left: auto;
  margin: 10px 0;
}

.invite-members-modal .invite-members-container .invited-users-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}
.invite-members-modal .invite-members-container .invited-users-flex > h5 {
  font-size: 14px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.invite-members-modal .invite-members-container .invited-users-list {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  border: 1px solid var(--inputBorder);
}
.invite-members-modal .invite-members-container .invited-users-list .invited-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  border-bottom: 1px solid var(--inputBorder);
}
.invite-members-modal .invite-members-container .invited-users-list .invited-user .texts {
  display: flex;
  align-items: center;
  gap: 15px;
}
.invite-members-modal .invite-members-container .invited-users-list .invited-user:last-child {
  border-bottom: none;
}
.invite-members-modal .invite-members-container .invited-users-list .invited-user h6 {
  font-size: 13px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.invite-members-modal .invite-members-container .invited-users-list .invited-user .icon-container:hover {
  background: var(--inputBg);
}

.project-page-loader {
  width: 100%; 
  height: 100%; 
  min-height: 200px;
  display: flex; 
  align-items: center; 
  justify-content: center
}
.project-page-loader i {
  font-size: 20px;
}