.single-project {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.single-project .project-header {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--inputBorder);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.single-project .project-header .titles {
  display: flex;
  align-items: center;
  gap: 10px;
}
.single-project .project-header .titles h3 {
  color: var(--darkGrayText);
  font-size: 17px;
}
.single-project .project-header .details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.single-project .project-header .details .info {
  display: flex;
  align-items: center;
  gap: 30px;
}
.single-project .project-header .details small {
  color: var(--grayText);
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.single-project .project-header .details small span {
  color: var(--darkGrayText);
  font-weight: 700;
}
.single-project .project-header .details .appInput {
  width: 200px;
}
.single-project .project-header .details .appInput input {
  height: 34px;
  background: var(--lightInputBg);
  padding-right: 20px;
}
.single-project .project-header .details .appInput i {
  top: 9px;
  right: 9px;
  font-size: 14px;
  color: var(--grayText);
}

.single-project .project-toolbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  padding-top: 15px;
}
.single-project .project-toolbar .top-side {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.single-project .project-toolbar .left-side {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.single-project .project-toolbar .left-side h5 {
  color: var(--darkGrayText);
  font-size: 14px;
}
.single-project .project-toolbar .left-side p {
  color: var(--grayText);
  font-size: 12px;
  font-weight: 500;
}
.single-project .project-toolbar .btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.single-project .project-toolbar .btn-group .dropdown-btn {
  padding: 5px 12px;
  border-color: var(--lightGrayText);
}
.single-project .project-toolbar .btn-group .dropdown-btn:hover {
  background: var(--inputBg);
  color: var(--darkGrayText);
}
.single-project .project-toolbar .btn-group .dropdown-button {
  z-index: 1000;
}
.single-project .project-toolbar .btn-group .dropdown-button .dropdown-item {
  font-size: 12px;
}
.single-project .project-toolbar .btn-group .dropdown-button .dropdown-item:hover {
  background: var(--inputBg);
}
.single-project .project-toolbar .btn-group .dropdown-button .dropdown-item:hover span,
.single-project .project-toolbar .btn-group .dropdown-button .dropdown-item:hover i {
  color: var(--darkGrayText);
}

.single-project .project-toolbar .app-tabs-bar a {
  font-size: 13px;
  color: var(--darkGrayText);
  font-weight: 600;
}

.single-project .kanban-board-container {
  min-width: 800px;
  width: 100%;
  overflow: auto;
  margin-top: 10px;
}

.add-column-modal .appInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.add-column-modal .appInput h6 {
  font-weight: 600;
  font-size: 12px;
  color: var(--darkGrayText);
}