.view-task-modal .app-modal {
  width: 85%;
  max-width: 1200px;
}
.view-task-modal .app-modal-container .app-modal > section {
  max-height: calc(100vh - 100px);
}

.view-task-modal .app-modal > header h4 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.view-task-modal .app-modal > header .icon {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-task-modal .app-modal > header .icon i {
  color: #fff;
  font-size: 10px;
}
.view-task-modal .app-modal > header .title {
  font-size: 16px;
  color: var(--darkGrayText);
  font-weight: 600;
}

.view-task-content {
  display: grid;
  grid-template-columns: calc(65% - 15px) 35%;
  gap: 15px;
  height: calc(100vh - 200px);
  overflow: hidden;
}
.view-task-content .task-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}
.view-task-content .task-content .appCoverInput {
  margin-bottom: 10px;
  width: 97%;
}
.view-task-content .task-content .appCoverInput input {
  padding: 5px 10px;
  font-size: 22px;
}
.view-task-content .task-content .appCoverInput h3 {
  color: var(--darkGrayText);
  font-size: 23px;
  font-weight: 600;
}
.view-task-content .task-content .task-name .coverInput {
  padding: 7px 0;
  border-radius: 5px;
  cursor: pointer;
}
.view-task-content .task-content .task-name:hover .coverInput {
  background: var(--inputBg);
}
.view-task-content .task-content .appCoverInput.description .coverInput {
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}
.view-task-content .task-content .appCoverInput.description .coverInput:hover {
  background: var(--inputBg);
}

.view-task-content .task-content .btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.view-task-content .task-content .description-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.view-task-content .task-content .description-section h5 {
  font-size: 13px;
  color: var(--darkGrayText);
}
.view-task-content .task-content .description-section p {
  font-size: 14px;
  color: #333;
  white-space: pre-wrap;
}
.view-task-content .task-content .attachments-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.view-task-content .task-content .attachments-section h5 {
  font-size: 13px;
  color: var(--darkGrayText);
}
.view-task-content .task-content .attachments-section .attachments-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.view-task-content .task-content .attachments-section .fa-spin {
  margin-top: 10px;
}

.view-task-content .task-content .events-tab-header {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 30px;
}
.view-task-content .task-content .events-tab-header .tab-header {
  font-size: 13px;
  color: var(--darkGrayText);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  background: var(--inputBg);
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
}
.view-task-content .task-content .events-tab-header .tab-header:hover {
  background: var(--lightGrayText);
}
.view-task-content .task-content .events-tab-header .tab-header.active {
  background: var(--grayText);
  color: #fff;
}

.view-task-content .task-content .events-section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 97%;
  margin-bottom: 20px;
}
.view-task-content .task-content .events-section .comments-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.view-task-content .task-content .events-section .comment-console {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin: 5px 0;
  margin-bottom: 10px;
  width: 100%;
}
.view-task-content .task-content .events-section .comment-console .avatar-container {
  top: 1px;
  min-width: 32px;
}
.view-task-content .task-content .events-section .comment-console .fake-input {
  padding: 10px;
  transition: all 0.2s;
  border: 1px solid var(--inputBorder);
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
.view-task-content .task-content .events-section .comment-console .fake-input span {
  font-size: 14px;
  opacity: 0.5;
}
.view-task-content .task-content .events-section .comment-console .fake-input:hover {
  background: var(--inputBg);
}
.view-task-content .task-content .events-section .comment-console .btn-group {
  display: flex;
  align-items: center;
  gap: 5px;
}
.view-task-content .task-content .events-section .comment-console .editor-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  width: calc(100% - 50px);
}
.view-task-content .task-content .events-section .comment-console .comment-editor {
  width: 100%;
}
.view-task-content .task-content .events-section .events-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 15px;
}


.view-task-content .task-content .load-more {
  font-size: 12px;
  color: var(--grayText);
  margin-top: 10px;
  cursor: pointer;
}
.view-task-content .task-content .load-more:hover {
  color: var(--darkGrayText);
  text-decoration: underline;
}


.view-task-content .task-details {
  border: 1px solid var(--inputBorder);
  border-radius: 5px;
  height: 100%;
  overflow-y: auto;
}
.view-task-content .task-details::-webkit-scrollbar {
  width: 4px;
  background: var(--lightInputBg);
}
.view-task-content .task-details::-webkit-scrollbar-thumb {
  background: var(--darkInputBg);
}
.view-task-content .task-details .titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-bottom: 1px solid var(--inputBorder);
}
.view-task-content .task-details .titles h5 {
  font-size: 15px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.view-task-content .task-details .titles .icon-container:hover {
  background: var(--inputBg);
}
.view-task-content .task-details-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-bottom: 1px solid var(--inputBorder);
  padding-bottom: 20px;
}
.view-task-content .task-details-flex .commonInput {
  display: grid;
  grid-template-columns: calc(40% - 10px) calc(60% - 10px);
  align-items: center;
  gap: 10px;
  grid-column: 1/-1;
}
.view-task-content .task-details-flex .commonInput h6 {
  font-size: 13px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.view-task-content .task-details-flex .assignees-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.view-task-content .task-details-flex .assignees-flex h6 {
  font-size: 13px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.view-task-content .task-details-flex .coverInput h5 {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--darkGrayText);
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.view-task-content .task-details-flex .users-search-input input:hover {
  background: var(--lightInputBg);
}
.view-task-content .task-details-flex .users-search-input .appInput .icon {
  z-index: 10;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: var(--inputBg);
  border: 1px solid var(--inputBorder);
}
.view-task-content .task-details-flex .users-search-input .appInput .icon i {
  color: var(--grayText);
  font-size: 16px;
}
.view-task-content .task-details-flex .users-search-input .appInput input {
  padding-left: 40px;
}
.view-task-content .task-details-flex .coverInput h5:hover {
  background: var(--inputBg);
}
.view-task-content .task-details-flex .coverInput h5 > i {
  color: var(--grayText);
}
.view-task-content .task-details-flex .coverInput .icons {
  display: flex;
  flex-direction: column;
}
.view-task-content .task-details-flex .coverInput .icons i {
  line-height: 0.4;
}
.view-task-content .task-details-flex input:hover {
  background: var(--lightInputBg);
}

.view-task-content .meta-details-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}
.view-task-content .meta-details-flex > div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.view-task-content .meta-details-flex h6 {
  font-size: 12px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.view-task-content .meta-details-flex span {
  font-size: 12px;
  color: var(--grayText);
  font-weight: 500;
}

.likes-stats-modal {
  z-index: 200;
}