.view-task-modal .app-modal {
  width: 85%;
  max-width: 1200px;
}
.view-task-modal .app-modal-container .app-modal > section {
  max-height: calc(100vh - 100px);
}

.view-task-modal .app-modal > header h4 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.view-task-modal .app-modal > header .icon {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-task-modal .app-modal > header .icon i {
  color: #fff;
  font-size: 10px;
}
.view-task-modal .app-modal > header .title {
  font-size: 16px;
  color: var(--darkGrayText);
  font-weight: 600;
}

