.comment-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.comment-item .avatar-container {
  top: 1px;
}
.comment-item .comment-bubble {
  background: var(--inputBg);
  border-radius: 10px;
  padding: 7px 10px;
  display: flex;
  flex-direction: column;
  min-width: 120px;
}
.comment-item .comment-bubble h6 {
  color: VAR(--darkGrayText);
}
.comment-item .comment-bubble p {
  font-size: 13px;
  color: #333;
  font-weight: 500;
}

.comment-item .right-side {
  width: 100%;
}
.comment-item .comment-top {
  display: flex;
  align-items: center;
  gap: 5px;
}
.comment-item .comment-top .dropdown-icon .icon-container {
  opacity: 0;
}
.comment-item .comment-top .icon-container:hover {
  background: var(--inputBg);
}
.comment-item:hover > .right-side > .comment-top .dropdown-icon .icon-container {
  opacity: 1;
}
.sub-comment-item:hover .comment-top .dropdown-icon .icon-container {
  opacity: 1;
}

.comment-item .comment-actions {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 2px;
  padding-left: 5px;
}
.comment-item .comment-actions small {
  font-size: 10px;
  color: var(--darkGrayText);
  font-weight: 600;
}
.comment-item .comment-actions small.liked {
  color: var(--primary);
}
.comment-item .comment-actions small span {
  color: #777;
  font-weight: 500;
}
.comment-item .comment-actions small:not(.no-underline):hover {
  text-decoration: underline;
  cursor: pointer;
}

.comment-item .edit-container .emoji-textarea {
  padding: 10px 0;
}
.comment-item .edit-container .emoji-textarea textarea {
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.comment-item .edit-container .btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.comment-item .edit-container small {
  cursor: pointer;
  font-size: 11px;
  color: #555;
}
.comment-item .edit-container small:hover {
  text-decoration: underline;
}

.comment-item .comment-bubble .comment-img-container {
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
  height: 150px;
}
.comment-item .comment-bubble .comment-img-container:hover img {
  filter: brightness(0.9);
}
.comment-item .comment-bubble img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all 0.2s;
}
.comment-item .comment-bubble .comment-img-container .icon-container {
  background: #fff;
  box-shadow: var(--shadow);
  position: absolute;
  top: -7px;
  right: -5px;
}

.comment-item .comment-reply-section {
  margin-top: 15px;
  margin-bottom: 10px;
}

.comment-item .comment-actions .likes-counter {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  cursor: pointer;
  gap: 3px;
  transition: all .2s;
}
.comment-item .comment-actions .likes-counter:hover {
  background: var(--inputBg);
}
.comment-item .comment-actions .likes-counter .like-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 100%;
  height: 13px;
  width: 13px;
}
.comment-item .comment-actions .likes-counter .like-btn i {
  font-size: 7px;
  color: #fff;
}
.comment-item .comment-actions .likes-counter small {
  color: var(--darkGrayText);
  font-size: 10px;
}
.comment-item .comment-actions .likes-counter small:hover {
  text-decoration: none;
}