.post-comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 20px;
}
.post-comments .emoji-textarea textarea {
  border-radius: 40px;
  background: var(--inputBg);
  border: none;
  padding-left: 20px;
}

.post-comments .comments-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}