.post-card {
  display: flex;
  flex-direction: column;
}
.post-card .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
}
.post-card .header .left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.post-card .header .texts {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.post-card .header .texts h5 {
  font-size: 13px;
  color: var(--darkGrayText);
}
.post-card .header .texts h6 {
  font-size: 10px;
  color: var(--grayText);
  opacity: 0.6;
  font-weight: 600;
}
.post-card .header .right .icon-container:hover {
  background: var(--bg);
}

.post-card .content {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.post-card .content p {
  font-size: 12px;
  color: #333;
  font-weight: 500;
  padding-bottom: 5px;
}
.post-card .content p a {
  color: var(--blue);
  font-weight: 600;
}
.post-card .content p a:hover {
  text-decoration: underline;
}
.post-card .content textarea {
  resize: none;
}
.post-card .content textarea::-webkit-scrollbar {
  display: none;
}
.post-card .content .edit-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.post-card .content .edit-container .btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.post-card .content .edit-container button {
  padding: 8px 15px;
}

.post-card .content .imgs-masonry {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 270px;
  overflow: hidden;
  margin: 10px 0;
}
.post-card .content .imgs-masonry.two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 5px;
}
.post-card .content .imgs-masonry.three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.post-card .content .imgs-masonry .img-item {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
}
.post-card .content .imgs-masonry .img-item img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.post-card .content .imgs-masonry.three .img-item:first-child {
  grid-row: span 2;
}
.post-card .content .imgs-masonry .img-item:not(.deleted):hover {
  filter: brightness(0.9);
}
.post-card .content .imgs-masonry .img-item .delete-img-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 20;
  box-shadow: var(--shadow);
}
.post-card .content .imgs-masonry .img-item.deleted img {
  opacity: 0.2;
}
.post-card .content .imgs-masonry .cover-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 10;
}
.post-card .content .imgs-masonry .cover-item h6 {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}

.post-card .content .user-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--inputBorder);
  padding: 4px;
  margin-top: 5px;
}
.post-card .content .user-actions > div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 10px;
  user-select: none;
}
.post-card .content .user-actions > div:active {
  transform: scale(0.97);
}
.post-card .content .user-actions > div:hover {
  background: #f3f3f3;
}
.post-card .content .user-actions i {
  font-size: 14px;
  color: var(--grayText);
}
.post-card .content .user-actions h6 {
  font-size: 11px;
  color: var(--darkGrayText);
  font-weight: 600;
}